<template>
	<div>
		<results-header></results-header>
		<result-section></result-section>
	</div>
</template>

<script>
import ResultHeader from "./resultPageComponents/resultsHeader.vue";
import ResultSection from "./resultPageComponents/resultsSection.vue";
export default {
	components: {
		ResultsHeader: ResultHeader,
		ResultSection: ResultSection
	}
};
</script>

<style></style>
