<template>
	<div>
		<div class="sidebar-info d-flex align-items-center">
			<img
				class="sidebar-info-img"
				src="./../../assets/profile-pic.png"
				alt="profile picture"
			/>
			<div class="d-flex flex-column">
				<p class="sidebar-info-name m-0">
					Andrew<span class="align-middle"></span>
				</p>
				<p class="sidebar-info-title m-0">Boss</p>
			</div>
		</div>

		<div class="sidebar-group">
			<h3>GIVE FEEDBACK</h3>
			<div class="dropdown d-flex align-items-center ">
				<a
					class="dropdown-toggle btn sidebar-dropdown text-left align-middle"
					href="https://markrajk.github.io/all-pages-together/people-settings/index.html#"
					role="button"
					id="dropdownMenuLink"
					data-toggle="dropdown"
					aria-haspopup="true"
					aria-expanded="false"
				>
					To your people
				</a>

				<div class="dropdown-menu w-100" aria-labelledby="dropdownMenuLink">
					<a
						class="dropdown-item"
						href="https://markrajk.github.io/all-pages-together/give-feedback-menu/index.html"
						>Feedback menu</a
					>
				</div>
			</div>
		</div>

		<div class="sidebar-body">
			<div class="sidebar-group">
				<h3>TEAMS</h3>
				<ul class="list-unstyled">
					<li>
						<a
							href="https://markrajk.github.io/all-pages-together/teams-results-favourites/index.html"
							>Results
						</a>
					</li>
					<li>
						<a
							href="https://markrajk.github.io/all-pages-together/teams-export/index.html"
							>Export results
						</a>
					</li>
					<li>
						<a
							href="https://markrajk.github.io/all-pages-together/teams-setting/index.html"
							>Manage teams
						</a>
					</li>
					<li>
						<a
							href="https://markrajk.github.io/all-pages-together/people-settings/index.html#"
							>Create a new team
						</a>
					</li>
				</ul>
			</div>

			<div class="sidebar-group">
				<h3>PEOPLE</h3>
				<ul class="list-unstyled">
					<li>
						<a
							href="https://markrajk.github.io/all-pages-together/people-results-key-people/index.html"
							>Results
						</a>
					</li>
					<li>
						<a
							href="https://markrajk.github.io/all-pages-together/people-export/index.html"
							>Export results
						</a>
					</li>
					<li class="active">
						<a
							href="https://markrajk.github.io/all-pages-together/people-settings/index.html"
							>Manage people</a
						>
					</li>
					<li>
						<a
							href="https://markrajk.github.io/all-pages-together/people-invite/index.html"
							>Invite new people
						</a>
					</li>
				</ul>
			</div>

			<div class="sidebar-group">
				<h3>ME</h3>
				<ul class="list-unstyled">
					<li>
						<a
							href="https://markrajk.github.io/all-pages-together/people-settings/index.html#"
							>Results
						</a>
					</li>
					<li>
						<a
							href="https://markrajk.github.io/all-pages-together/people-settings/index.html#"
							>My account
						</a>
					</li>
				</ul>
			</div>

			<div class="sidebar-group">
				<h3>ADMIN</h3>
				<ul class="list-unstyled">
					<li>
						<a
							href="https://markrajk.github.io/all-pages-together/people-settings/index.html#"
							>User/team register
						</a>
					</li>
					<li>
						<a
							href="https://markrajk.github.io/all-pages-together/people-settings/index.html#"
							>Company Profile
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	data() {
		return {};
	}
};
</script>

<style>
.sidebar-body {
	max-height: 100vh;
	overflow-y: scroll;
	scrollbar-width: none;
	/* Firefox */
	-ms-overflow-style: none;
	/* Internet Explorer 10+ */
}

.sidebar-body::-webkit-scrollbar {
	/* WebKit */
	width: 0;
	height: 0;
}

.sidebar-info-img {
	width: 6.7rem;
	height: 6.7rem;
	border-radius: 50%;
}

.sidebar-info-name {
	padding-left: 1.3rem;
	font-size: 1.7rem;
	font-weight: 600;
	color: #002257;
}

.sidebar-info-name span {
	display: inline-block;
	width: 0.7rem;
	height: 0.7rem;
	margin-left: 0.7rem;
	background-color: #2ebd41;
	border-radius: 50%;
}

.sidebar-info-title {
	padding-left: 1.3rem;
	font-size: 1.35rem;
	font-weight: 600;
	color: #969ead;
}

.sidebar-group {
	padding-top: 4rem;
}

.sidebar-group:nth-of-type(2),
.sidebar-group:nth-of-type(3) {
	padding-top: 3.5rem;
}

.sidebar-group .list-unstyled {
	margin: 0;
}

.sidebar-group h3 {
	margin: 0;
	font-size: 1.2rem;
	font-weight: 700;
	line-height: 1.42;
	color: #687181;
}

.sidebar-group .dropdown-toggle {
	padding: 0.7rem 0;
	padding-left: 1.2rem;
	width: 100%;
	height: 100%;
	border: solid 1.5px #eaebee;
	margin-top: 0.7rem;
	font-size: 1.2rem;
	background-color: none;
	border-color: #eaebee;
	border: 1.5px solid #eaebee;
	color: #002257;
	border-radius: 3px;
}

.sidebar-group .list-unstyled li a {
	display: inline-block;
	height: 1.8rem;
	margin-top: 1.7rem;
	text-decoration: none;
	font-size: 1.3rem;
	line-height: 1.69;
	color: #002257;
}

.sidebar-group .list-unstyled li.active {
	font-weight: 700;
}
</style>
