<template>
	<div>
		<div class="main d-flex">
			<div class="sidebar d-flex flex-column bg-white">
				<side-bar></side-bar>
			</div>
			<div class="results">
				<main-section></main-section>
			</div>
		</div>
	</div>
</template>

<script>
import LeftBarSection from "./Sections/LeftBarSection.vue";
import RightSection from "./Sections/RightSection.vue";
export default {
	components: {
		sideBar: LeftBarSection,
		mainSection: RightSection
	}
};
</script>

<style>
html {
	font-size: 62.5%;
}

@media (max-width: 1800px) {
	html {
		font-size: 58%;
	}
}

@media (max-width: 1500px) {
	html {
		font-size: 53%;
	}
}

@media (max-width: 991px) {
	html {
		font-size: 48%;
	}
}

body {
	width: 100vw;
	height: 100vh;
	font-family: "Open Sans", sans-serif;
}

* {
	margin: 0;
	padding: 0;
}

.main {
	width: 100%;
	height: 100vh;
	overflow: hidden;
}

.results {
	width: 100%;
	margin-left: 24.4rem;
	background-color: #f8f9fb;
	padding: 4.1rem 4.6rem 2.8rem 3.4rem;
}

.sidebar {
	position: fixed;
	height: 100vh;
	min-width: 24.4rem;
	top: 0;
	left: 0;
	padding: 4.2rem 3rem;
	padding-bottom: 0;
	box-shadow: 0 2px 9px rgba(0, 0, 0, 0.06);
	z-index: 1000;
}
</style>
