<template>
	<div>
		<div class="results-header">
			<div class="results-header-logout d-flex justify-content-between ">
				<p class="mb-0">Settings</p>
				<p class="text-right align-middle">
					<a
						href="https://markrajk.github.io/all-pages-together/people-signin/index.html"
						>Logout</a
					>
					<i class="material-icons align-middle">exit_to_app</i>
				</p>
			</div>
			<h2 class="mt-1 align-middle">Manage people's settings</h2>
			<div class="results-header-search border rounded">
				<div class="input-group h-100">
					<i class="material-icons">search</i>
					<input class="m-auto" type="text" placeholder="Search..." />
				</div>
			</div>
		</div>
	</div>
</template>

<script>
export default {};
</script>

<style>
.results-header-logout {
	height: 2rem;
	margin: 0;
	font-size: 1.5rem;
	font-weight: 600;
	color: #6e747e;
}

.results-header-logout a {
	color: #6e747e;
}

.results-header-logout i {
	margin-top: 0;
	margin-left: -3px;
	font-size: 1.8rem;
	color: #6e747e;
}

.results-header h2 {
	height: 3.7rem;
	margin: 0;
	font-size: 2.7rem;
	font-weight: 600;
	line-height: 1.37;
	color: #1a173b;
}

.results-header .choose {
	margin: 2.2rem 0;
	font-size: 1.6rem;
	color: #878590;
}

.results-header .choose span {
	font-weight: 700;
	color: #1a173b;
}

.results-header-search {
	position: relative;
	width: 34.4rem;
	height: 6.6rem;
	margin-top: 2.1rem;
	margin-bottom: 1.7rem;
	border-radius: 4px;
	border: solid 1.5px #eaebee;
	background-color: #ffffff;
}

.results-header-search input {
	width: 31.3rem;
	height: 3.5rem;
	padding-left: 4.3rem;
	font-size: 1.5rem;
	font-weight: 500;
	color: #000;
	border: solid 1.5px rgba(0, 0, 0, 0.1);
	border-radius: 1.7rem;
}

.results-header-search input::placeholder {
	font-size: 1.5rem;
	font-weight: 500;
	color: #000;
}

.results-header-search i {
	position: absolute;
	top: 50%;
	left: 4rem;
	transform: translate(-50%, -50%);
}
</style>
